<div class="custom-registration-card">
  <div class="row">
    <div class="col-md-6">
      <div class="custom-registration-logo">
        <%= image_tag 'Logo.png', width: '100%', height: 'auto' %>
      </div>
      <div class="custom-registration-logo-heading">
        <h6>REGISTER</h6>
      </div>
      <div class="custom-divider"></div>
      <div class="custom-lft-form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <label for="" class="custom-form-lable">Username</label>
            <%= f.text_field :username, class: "form-control custom-inputs-control", id:"exampleInputEmail1", "aria-describedby": "emailHelp", placeholder: "eg: Jason builder" %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control custom-inputs-control", id:"exampleInputEmail1", "aria-describedby": "emailHelp", placeholder: "Enter email" %>
          </div>

          <div class="form-group">
            <%= f.label :contact_us %>
            <%= f.text_field :phone_no, class: "form-control custom-inputs-control", id:"exampleInputEmail1", "aria-describedby": "emailHelp" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, class: "form-control custom-inputs-control", id:"exampleInputEmail1", "aria-describedby": "emailHelp", placeholder: "Password" %>
          </div>

          <!-- <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div> -->
          <div class="custom-form-button">
            <%= button_tag(type: 'submit', class: "btn btn-demo") do %>
              <span style="margin:14px auto ">Register</span>
            <% end %>
          </div>
        <% end %>
      <p>Have account &nbsp; <span><%= link_to "Sign In", new_user_session_path %></span></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="custom-right-img">
        <%= image_tag 'register-image.png', width: '100%', height: '100%' %>
      </div>
     </div>
  </div>
</div>