<div class="row">
   <div class="col-md-12">
      <div class="custom-dashboard-navbar  navbar-light ">
        <nav class="navbar custom-navbar navbar-expand-lg">
          <div class="custom-navbar-logo-div">
            <%= link_to root_path, class: "navbar-brand custom-logo-link" do %>
              <%= image_tag "Logo.png", width: "100%", height: "auto" %>
            <% end %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto" >  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.username%>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", edit_user_registration_path, class: 'dropdown-item' %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </li>
             </ul>
          </div>
        </nav>
      </div>
   </div>
</div>