<div class="row">
  <div class="col-md-12">
    <div class="custom-header-border-section">
    </div>
    <div class="custom-dashboard-button-div">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <%= link_to contacts_path do %>
              <div class="dashboard-card">
                <div class="dashboard-card-top-border"></div>
                <div class="card-dashboard-body">
                  <h6>CONTACT</h6>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <a class="content-hover"  class="btn btn-demo" href="#" data-toggle="modal" data-target="#email-configure">
              <div class="dashboard-card">
                <div class="dashboard-card-top-border"></div>
                <div class="card-dashboard-body">
                  <h6>EMAIL</h6>
                  <h6>CONFIGURE</h6>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <%= link_to fetch_email_path(mailbox: true) do %>
              <div class="dashboard-card">
                <div class="dashboard-card-top-border"></div>
                <div class="card-dashboard-body">
                  <h6>EMAIL</h6>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-footer-border-section">
    </div>
  </div>
</div>


<div class="modal fade" id="email-configure" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <section class="loader1">
    <div class="model-preloader">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </section>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="custom-email-popup-screen-section">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">     
                <div class="custom-email-popup-headding">
                  <h3>CONFIGURATION</h3>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 ">
                <div class="custom-email-popup-button">                 
                  <a href='/auth/google' class="btn btn-primary sign-in-google"> <span class="custom-google-font-icon"><i class="fab fa-google"></i></span class="custom-popup-button-text"><span>SIGN IN WITH GOOGLE</span></a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="custom-email-popup-form">
                  <%= form_tag fetch_email_path, method: :get do %>
                    <div class="form-group">
                      <label for="" class="custom-form-lable">Email</label>
                      <%= text_field_tag :email, nil, class: "form-control custom-inputs-control", id: "exampleInputEmail1", placeholder: "eg: Jason builder" %>
                    </div>
                    <div class="form-group">
                      <label for="" class="custom-form-lable">Password</label>
                      <%= password_field_tag :password, nil,class: "form-control custom-inputs-control", id: "exampleInputPassword1", placeholder: "********" %>
                    </div>
                    <div class="form-group">
                      <label for="" class="custom-form-lable">Client</label>
                      <%= select_tag 'client', options_for_select([["Gmail",'imap.gmail.com'],["Yahoo",'imap.mail.yahoo.com']]), { prompt: 'Select Client', class: "form-control custom-inputs-control", required: true , id: "client"} %>
                      <%#= select_tag(:client, options_for_select([["Gmail",'imap.gmail.com'],["Outlook",'outlook.office365.com'],["Yahoo",'imap.mail.yahoo.com']], params[:client] ), class: "form-control custom-inputs-control") %>
                      <%= link_to "javascript:void()", data: {toggle: "popover", content: "<h3>Attention!</h3><br><b>Before adding this please go to <a target='_blank' href='https://myaccount.google.com/lesssecureapps'>this</a> url and enable \"Allow less secure apps\". So that we can access your emails. <br>Also go to settings and click on 'Forwarding and POP/IMAP' & Enable IMAP access.</br>", html: true, placement: "right", title: 'Gmail configuration <a href="#" class="close" data-dismiss="alert">&times;</a>'}, id: 'gmail', style: 'float: right' do %>
                      <% end %>

                      <%= link_to "javascript:void()", data: {toggle: "popover", content: "<h3>Attention!</h3><br> <b>Before adding this, please perform the below steps: ' +'<br>1) Open your yahoo mail account.'+'<br>2) Go to 'ccount Info' by clicking your profile image icon on top right corner.'+'<br>3) Click 'Account Security' on the left sidebar.'+'<br>4) Click on 'Manage app password' link. It\'ll open a popup.'+'<br>5) Click on 'Select your app' dropdown and select other app. Name the app whatever you want.'+'<br>6) Click on Geberate button. It\'ll display a random password string.'+'<br>7) Copy that password and use this password in the below password field instead of your generic password field.</b>", html: true, placement: "right", title: 'Yahoo configuration <a href="#" class="close" data-dismiss="alert">&times;</a>'}, id: 'yahoo', style: 'float: right' do %>
                      <% end %>
                    </div>
                    <div class="form-group">
                      <label for="" class="custom-form-lable">Port</label>
                      <%= text_field_tag :port, nil, class: "form-control custom-inputs-control", id: "exampleInputEmail1", value: 993, placeholder: "993", disabled: true %>
                    </div>
                    <div class="custom-form-button-email-popup">
                      <%= button_tag(type: 'submit', class: "btn", id: 'login') do %>
                        <span style="margin:14px auto ">Login</span>
                      <% end %>
                    </div>
                  <% end %>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#login').click(function(){  
    $('.loader1').show()
  })
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
  });

  $("#client").change(function(event){
    if (this.selectedOptions[0].text == "Yahoo") {
      $('#yahoo').popover('show');
    }
    else {
      $('#gmail').popover('show');      
    }
  })

  $(document).on("click", ".popover .close" , function(){
    $(this).parents(".popover").popover('hide');
  }); 
</script>