<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: 'shared/sidebar' %>
    </div>
    <div class="col-md-9">
      <div class="row">
  <div class="col-md-12">
    <h5 class="custom-heading"><%= current_user.assigned_email.present? ? "You have assigned this email #{current_user.assigned_email}" : '' %></h5>
    <div class="custom-contact-listing-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="custom-contact-lisiting-headding" >
              <h5>Email LISTING</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="custom-datatable-class  table-responsive">
              <table id="dt-all-checkbox" data-searching="false" class="table" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>
                    </th>
                    <th class="th-sm">Subject
                    </th>
                    <th class="th-sm">Body</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                  <tbody>
                    <% @emails.each do |email| %>
                      <tr>
                        <td></td>
                        <td><%= email.subject %></td>
                        <td><%= email_body(email).gsub!(/\s+/, ' ').truncate(160).html_safe%></td>
                        <td><%= link_to "Show", email_path(email)%></td>
                        <td><%= link_to 'Destroy', email, data: { confirm: 'Are you sure?' }, :method => :delete %></td>
                        <td><%= link_to "Contacts", contacts_path(email_id: email.id) if email.contacts.any? %></td>                      
                      </tr>
                    <% end %>
                  </tbody>
              </table>
            </div>
            <div class="featured-pagination">
              <%= will_paginate @emails, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
