<!DOCTYPE html>
<html>
  <head>
    <title>Conman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <!-- FontAwosem -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
      <!-- font-family -->
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% if f[0].to_s.eql?("alert") %>
            <% type = "error" %>
          <% elsif f[0].to_s.eql?("notice") %>
            <% type = "success" %>
          <% else %>
            <% type = f[0].to_s %>
          <% end %>
          toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>
    
    <div class="custom-dashboard-section">
      <div class="container">
        <% if user_signed_in? %>
          <%= render partial: 'shared/header' %>
        <% end %>
        <section class="loader1">
          <div class="preloader">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </section>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <% if user_signed_in? %>
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Conman </div>
      <div class="list-group list-group-flush">
        <%= link_to "Emails", emails_path, class: "list-group-item list-group-item-action bg-light" %>
        <%= link_to "Contacts", contacts_path, class: "list-group-item list-group-item-action bg-light" %>
      </div>
    </div>
    <% end %>
    <div class="container-fluid">
        <%= yield %>
    </div>
  </div>

      </div>
    </div>
  </body>
</html>